
.show-details{
    padding:0 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.show-details img{
    height:40px;
    width:40px;
    border-radius: 50%;
}
.delete-btn{
    color:rgb(216, 33, 72);
    font-size:20px;
}

